@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #2e3440;
    margin: 0;
}

header {
    text-align: center;
    background-color: #4c566a;
    padding: 1em;
    margin-bottom: 16px;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #d8dee9;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #d8dee9;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

form {
    font-weight: bold;
    color: #d8dee9;
    background-color: #4c566a;
    border-radius: 8px;
    width: 300px;
    height: auto;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    display: block;
}

#cF {
    margin-right: 5em;
}

input {
    font-weight: bold;
    color: #d8dee9;
    background-color: #3b4252;
    border-color: #3b4252;
    border-radius: 8px;
    border: none;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0.5em;
}

button {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #d8dee9;
    background-color: #5e81ac;
    border-color: #5e81ac;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 0.5em;
}

button:hover {
    filter: brightness(1.1);
}

::placeholder {
    color: #d8dee9;
}

#result {
    background-color: #3b4252;
    align-items: center;
    width: 150px;
    margin-left: 25%;
    border-radius: 8px;
    color: #d8dee9;
}
